body {
    margin: 0;
    color: black;
    font-family: 'Lora', serif;
}


/*********** HEADER ************/
header {
    text-align: center;
    background-color: white;
    border-bottom-width: 7px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

h1 {
    padding-left:60px;
    color: #986615;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 400%;
}

header a {
    text-align: center;
    color: black;
    font-family: 'Lora', serif;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 140%;
    line-height: 200%;
}

.boxshopping_cart {
    position: fixed;
    top: 166px;
    right: 40px;
}

div a img.iconcart {
    vertical-align: bottom;
    width: 50px;
    float: right;
}


/*********** FOOTER ************/
footer {
    text-align: left;
    padding: 60px;
    background-color: white;
    color: black;
    font-family: 'Lora', serif;
    color: black;
    line-height: 0.9em;
}


/*********** INDEX ************/
img.one{
    margin: 10px;
    display: block;
    margin: auto;
    width: 400px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}

#about_title{
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #986615;
    font-family: 'Playfair Display', serif;
    font-size: 140%;
}

#about_para{
    margin: left;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 40px;
    font-family: 'Lora', serif;
    line-height: 1.5em;
}

.specialbutton a{
    font-family: 'Lora', serif;
    color: black;
    background-color: orange;
    text-decoration: none;
    border-style: solid;
    border-color: grey;
    border-width: 2pt;
    border-radius: 10px;
    padding: 10px;
    margin-left: 37%;
    margin-bottom: 10%;
}


/*********** MENU ************/
.bun_menu {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
}

.box {
    border-radius: 5px;
}

.box a{
    font-family: 'Lora', serif;
    color: black;
    text-decoration: none;
    line-height: 0.5em;
}

img.iconbun{
    width: 40%;
}


/*********** ITEM PAGES ************/

.item_page {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10%;
}

img#one{
    display: inline;
    width: 32%;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
}

#item_title{
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    color: #986615;
    font-family: 'Playfair Display', serif;
    font-size: 140%;
}

#item_para{
    margin: left;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 40px;
    font-family: 'Lora', serif;
    line-height: 1.5em;
}

#order_buns{
    display: inline;

}

#buns_popup{

}

.drop_menu{

}

.num_input {

}

#add_to_cart {

}

/*********** SHOPPING CART ************/

.order-cart {

}

#order_button1{

}

#cart{

}

#cart_table{

}

#total_cart{

}

#order_button2{

}
